<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    
    # ==========================
    # SEO 301 Redirects (OLD → NEW)
    # ==========================
    RewriteRule ^product/ganesh-dancing-2/?$ /product/abhaya-hasta-ganesha-brass-idol/ [R=301,L,NC]
    
    RewriteRule ^product/saraswathi-plain-1/?$ /product/saraswati-with-veena-wooden-idol/ [R=301,L,NC]
    RewriteCond %{THE_REQUEST} \s/+collection/antique%20bronze%20vessels[\s?] [NC]
    RewriteRule ^collection/.*$ /collection/antique-bronze-vessels [R=301,L]
    
    RewriteCond %{THE_REQUEST} \s/+collection/corporate%20gifts[\s?] [NC]
    RewriteRule ^collection/.*$ /collection/corporate-gifts [R=301,L]
    
    RewriteCond %{THE_REQUEST} \s/+collection/brass%20collections[\s?] [NC]
    RewriteRule ^collection/.*$ /collection/brass-collections [R=301,L]
    
    RewriteCond %{THE_REQUEST} \s/+collection/new%20year%20gifts[\s?] [NC]
    RewriteRule ^collection/.*$ /collection/new-year-gifts [R=301,L]
    
    RewriteCond %{THE_REQUEST} \s/+collection/types%20of%20deity%20idols[\s?] [NC]
    RewriteRule ^collection/.*$ /collection/types-of-deity-idols [R=301,L]
    
    RewriteCond %{THE_REQUEST} \s/+category/radha%20krishna-idols[\s?] [NC]
    RewriteRule ^category/.*$ /category/radha-krishna-idols [R=301,L]
    
    RewriteCond %{THE_REQUEST} \s/+category/boga%20sakthi-idols[\s?] [NC]
    RewriteRule ^category/.*$ /category/boga-sakthi-idols [R=301,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
